.grid{
  display: flex; 
  flex-direction: row; 
  margin-left: 530px; 
}

.centercolumn{
  display: flex; 
  justify-content: center; 
  vertical-align: bottom; 
  align-items: center; 
  flex-direction: column; 
  flex-wrap: wrap; 
  margin-top: 1400px;
 // margin-bottom: -1400px;  
}


.img1 img {

    // object-fit: cover;
    // margin-top: 1440px; 
    // margin-left: 550px; 
    // margin-bottom:-15px; 

    flex-wrap: wrap; 
    padding: 8px; 
    width: 430px; 
    height: 390px; 
    object-fit: cover; 
    background-position: center; 
  }

  .img2 img {

    // object-fit: cover;
    // margin-top: -400px; 
    // margin-left: 990px; 
    // margin-bottom: 0px; 

    flex-wrap: wrap; 
    padding: 8px; 
    width: 430px; 
    height: 244px; 
    object-fit: cover; 
    background-position: center; 
  }

  .img3 img {

    // object-fit: cover;
    // margin-left: 550px; 
    // margin-bottom: 0px; 

    flex-wrap: wrap; 
    padding: 8px; 
    width: 430px; 
    height: 231px; 
    object-fit: cover; 
    background-position: center; 
  }

  .sidecolumn{
    display: flex; 
    justify-content: center; 
    vertical-align: bottom; 
    align-items: center; 
    flex-direction: column; 
    flex-wrap: wrap; 
    margin-top: 1400px;
  }


  .img4 img {

    // object-fit: cover;
    // margin-top: -245px; 
    // margin-left: 990px; 
    // margin-bottom: 0px; 

    flex-wrap: wrap; 
    padding: 8px; 
    width: 392px; 
    height: 395px; 
    object-fit: cover; 
    background-position: center; 
  }

  .img5 img {

    // object-fit: cover;
    // object-position: top 5%;
    // margin-top: -249px; 
    // margin-left: 15px; 
    // margin-bottom: 17px; 

    flex-wrap: wrap; 
    padding: 8px; 
    width: 392px; 
    height: 484px; 
    object-fit: cover; 
    background-position: center; 
  }

  .leftside{
    display: flex; 
    justify-content: left; 
    vertical-align: bottom; 
    align-items: center; 
    flex-direction: column; 
    flex-wrap: wrap; 
    margin-left: -850px; 
    margin-top: -240px; 
  }

  .img6 img {

    // object-fit: cover;
    // margin-top: -253px; 
    // margin-left: 549px; 
    // margin-bottom: 0px; 

    flex-wrap: wrap; 
    padding: 8px; 
    width: 480px; 
    height: 224px; 
    object-fit: cover; 
    background-position: center; 
  }