#header {
    height: 121px; 
    background: var(--blue);
    font-family: 'Noto Sans', sans-serif;
  } 


#logo{
    display: flex; 
    justify-content: left; 
    align-items: flex-start, 
}

#links{
  display: flex; 
  flex-direction: row; 
  justify-content: right; 
  color: var(--yellow);
  font-size: 20px;
  text-align: center;
  margin-top: -130px; 
  font-weight: bold; 
}

a{
  color: var(--yellow); 
  text-decoration: none; 
  padding: 30px; 
}

#headerText{
  color: var(--yellow); 
  margin-top: -97px; 
  margin-left: 140px; 
  font-weight: bold; 
  font-size: 40px; 
}

#overbrookText{
  display: flex; 
}