.rectangle{
    background-color: var(--blue); 
    height: 435px;
    width: 100%;
    margin-top: -10px; 
}

.designs{
    margin-top: -330px; 
    margin-left: -40px; 
}

.quotes{
    font-size: 30px; 
    font-family: 'Noto Sans', sans-serif;
    margin-top: -1040px; 
    margin-left: 500px; 
    color: var(--white); 
}

